

/* Start:/local/components/webranding/forms/templates/page_suppliers/style.css?1764160777116*/
#suppliers_form {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
#suppliers_form ul {
    margin: 0;
}
/* End */
/* /local/components/webranding/forms/templates/page_suppliers/style.css?1764160777116 */
