

/* Start:/local/components/webranding/forms/templates/designers/style.css?1764160777114*/
#designer_form {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
#designer_form ul {
    margin: 0;
}
/* End */
/* /local/components/webranding/forms/templates/designers/style.css?1764160777114 */
