

/* Start:/local/components/webranding/forms/templates/free_measure/style.css?1764160777242*/
#measureorder_form {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
.desc-footer-div {
    margin-top: 30px;
    text-align: left;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
#measureorder_form ul {
    margin: 0;
}
/* End */
/* /local/components/webranding/forms/templates/free_measure/style.css?1764160777242 */
