

/* Start:/local/components/sukalovpro/super/templates/main_sections/style.css?17309930321741*/
.sec1lvl li {
	font-weight: bold;
    font-size: 20px;
    list-style-type: none;
    text-transform: uppercase;
    margin: 25px 0;
}
.sec2lvl {
    padding-left: 0px;
    margin: 10px 0;
}
.sec2lvl li {
    margin-top: 20px;
    font-weight: normal;
    font-size: 20px;
    list-style-type: none;
    margin-bottom: 10px;
}
ul.sec2lvl li a.nameSecAllDoors {
    color: #222;
    text-decoration: none;
}
ul.sec2lvl .link_sec {
    color: #222;
    font-size: 12px;
    text-decoration: none;
}
ul.sec2lvl .link_sec:hover {
	text-decoration: underline;
}
@media screen and (max-width:767px) {
	.sec1lvl {
		padding: 15px;
	}
	div.all_avalible_img {
		position: absolute;
		top: 5px;
		right: 10px;
		z-index: 1;
	}
	div.all_avalible_img img {
		object-fit: contain;
		width: 85px;
		height: auto;
	}
	.divimg img {
		/*width: 165px;*/
		/*height: 165px;*/
		object-fit: cover;
	}
	.name_el {
		line-height: 16px;
		height: 90px !important;
	}
	.title_sec {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 15px;
	}
}
@media screen and (min-width:768px) {
	/*.divimg img {*/
	/*	width: 395px;*/
	/*	height: 265px;*/
	/*	object-fit: cover;*/
	/*}*/
	div.all_avalible_img {
		position: absolute;
		top: 5px;
		right: 0px;
		z-index: 1;
	}
	div.all_avalible_img img {
		object-fit: contain;
		width: 85px;
		height: auto;	
	}
	.title_sec {
		font-size: 18px;
		font-weight: bold;
		/*margin-left: -15px;*/
		margin-bottom: 15px;
	}
	.mrl15{
		margin-left: 15px;
	}
}
.name_el {
    height: 65px;
    text-align: center;
    padding-top: 7px;
}
.sec1lvl li h2{
    font-size: 20px;
    font-weight: 700;
}

.elImgFirst {
	opacity: 0.25;
    position: absolute;
}
.elImgSecond {
	object-fit: contain !important;
    position: relative;
}
/* End */
/* /local/components/sukalovpro/super/templates/main_sections/style.css?17309930321741 */
