

/* Start:/local/components/webranding/forms/templates/page_corporate/style.css?1764160777116*/
#corporate_form {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
#corporate_form ul {
    margin: 0;
}
/* End */
/* /local/components/webranding/forms/templates/page_corporate/style.css?1764160777116 */
